Django == 1.5.1
South == 0.7.6
PIL == 1.1.7
oauth == 1.0.1
python-twitter == 1.0
requests == 1.2.3

django-cronjobs == 0.2.3
django-form-utils == 0.2.0
django-extensions == 1.1.1
django-templatetag-handlebars == 1.2.0
-e git+git://github.com/morenopc/django-mailer-2.git#egg=django-mailer-2

nose
django-nose
nose-notify
