Django==1.3.1
GnuPGInterface==0.3.2
PAM==0.4.2
PIL==1.1.7
Twisted-Core==11.0.0
Twisted-Names==11.0.0
Twisted-Web==11.0.0
adium-theme-ubuntu==0.3.1
apt-xapian-index==0.44
apturl==0.5.1ubuntu1
ccsm==0.9.5.92
chardet==2.0.1
command-not-found==0.2.44
compizconfig-python==0.9.5.94
configglue==1.0
defer==1.0.2
distribute==0.6.15
duplicity==0.6.15
foolscap==0.6.1
gnome-app-install==0.4.7-nmu1ubuntu2
httplib2==0.7.1
idios==0.2a1.dev2
ipython==0.10.2
jockey==0.9.4
keyring==0.6.2
launchpadlib==1.9.8
lazr.restfulclient==0.11.2
lazr.uri==1.0.2
louis==2.3.0
nvidia-common==0.0.0
oauth==1.0.1
oauth2==1.5.170
onboard==0.96.1
oneconf==0.2.6.7
papyon==0.5.5
pexpect==2.3
piston-mini-client==0.6
protobuf==2.4.0a
psycopg2==2.4.4
pyOpenSSL==0.12
pycrypto==2.3
pycups==1.9.59
pycurl==7.19.0
pyinotify==0.9.1
pyserial==2.5
pysmbc==1.0.10
python-apt==0.8.0ubuntu9
python-dateutil==1.4.1
python-debian==0.1.20ubuntu2
python-twitter==0.8.2
python-virtkey==0.60.0
pyxdg==0.19
sessioninstaller==0.0.0
simplejson==2.1.6
system-service==0.1.6
ubuntu-sso-client==1.4.0
ubuntuone-couch==0.3.0
ubuntuone-installer==2.0.0
ubuntuone-storage-protocol==2.0.0
ufw==0.30.1-2ubuntu1
unattended-upgrades==0.1
usb-creator==0.2.23
virtualenv==1.6.1
virtualenvwrapper==2.7.1
wadllib==1.2.0
wsgiref==0.1.2
wxPython==2.8.11.0
wxPython-common==2.8.11.0
xdiagnose==1.1
xkit==0.0.0
zope.interface==3.6.1
