Django == 1.3.1
psycopg2 == 2.4.2
PIL == 1.1.7
oauth == 1.0.1
oauth2 == 1.5.170
python-twitter == 0.8.2
simplejson == 2.1.6

# Django Celery Integration
django-celery == 3.0.11

django-kombu == 0.9.4
django-picklefield == 0.2.0
ordereddict == 1.1
python-dateutil == 1.5

# Easily embed Handlebars.js templates in your django templates
django-templatetag-handlebars == 1.2.0
