{% load form_utils_tags %}
<!DOCTYPE html>
<html lang="pt_BR">
<head>
	<meta charset="utf-8">
	<title>{% block page_title %}{% endblock %}Twitnerário Alpha</title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.marcopolo.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/registros_form.js"></script>
	{% block head_inc %}{% endblock %}
</head>
<body>

	<header class="hero-unit">
		<div class="container">
		    <a style="text-decoration:none;" href="/">
			    <h1>Twitnerário <sup><span class="label notice">Alpha</span></sup></h1>
			</a>
			<p>Receba lembretes de quando o seu ônibus irá passar.</p>
		</div>
	</header>

	<div class="container">
		<div class="content">

			{% block content %}{% endblock %}

		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<p><a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite80x15_grey.gif" border="0" alt="A Django site." title="A Django site." /></a> por <a href="http://twitter.com/morenocunha">@morenocunha</a> e <a href="http://twitter.com/blude">@blude</a>.</p>
		</div>
	</footer>

{% block footer_inc %}{% endblock %}
</body>
</html>
