{% extends "registros/base.html" %}

{% block content %}
    <style type="text/css">
        select#id_horas, #id_minutos{
            width: 50px;
        }
        div.hour label{
            margin-left: -15px;
            padding-right: 10px;
            width: 150px;
        }
    </style>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/overcast/jquery-ui-1.8.18.custom.css" type="text/css" charset="utf-8">
	<div class="row">
		<div class="span16">
			<form action="" method="post">{% csrf_token %}

				<fieldset>
					<legend>Registro</legend>
                    
					<div class="clearfix">
						{{ form.twitter.label_tag }}
						  <div class="input">
							<div class="input-prepend">
                              <span class="add-on">@</span>
                              {{ form.twitter }}
							</div>
						  </div>
					</div>

					<div class="clearfix">
						{{ form.ponto.label_tag }}
						<div class="input">
							{{ form.ponto }}
						</div>
					</div>

					<div class="clearfix">
						{{ form.linha.label_tag }}
						<div class="input">
							{#{ form.linha }#}
							<select id="select_linhas"></select>
						</div>
					</div>

					<div class="hour clearfix">
						{{ form.horas.label_tag }}
						<div class="input">
							{{ form.horas }} : {{ form.minutos }}
						</div>
					</div>

					<div class="actions">
						<input class="btn primary" type="submit" value="Salva Ponto">
						<a class="btn" href="/twitnerario/">Cancelar</a>
					</div>

				</fieldset>

			</form>
		</div>
	</div>
	<div class="row">
		<div id="content" class="span16"></div>
	</div>
{% endblock %}

{% block footer_inc %}
<script type="text/javascript">
// TitleCase
String.prototype.toProperCase = function () {
    return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
};
var uiSelected=null;
var pts=[];
var pontosJSON;
$(function() {
    var $id_ponto=$("#id_ponto");
    // Get JSON
    $.getJSON('/pontos/', function(data){
        pontosJSON=data;
        // Criar lista de pontos
        $.each(data.data, function(i,v) {
            pts.push(v.ponto);
        });
        $id_ponto.autocomplete({
		    source: pts,
		    minLength: 0,
	    });
    });
    $id_ponto.autocomplete({
        select: function(event, ui) {
            uiSelected=ui;
            //alert(uiSelected.item.value);
            $.each(pontosJSON.data, function(i,v) {
                //alert(ui.value);
                //uuii=ui;
                if(v.ponto==uiSelected.item.value){
                    $('#info').remove();
                    plocal=v.logradouro+', '+v.bairro+', '+v.referencia
                    $id_ponto.after('<p id="info" style="display:none;color:#404040;font-size: 13px;padding-top: 4px;margin-bottom: 0px;">'+plocal.toProperCase()+'</p>');
                    $('#info').show('slow');
                    setSelectLinhas(uiSelected.item.value);
                    uiSelected=null;
                    return false;    
                }
            });
        }
    });
    function setSelectLinhas(ponto){
        // Get JSON
        $("#select_linhas option").remove();
        $.getJSON('/'+ponto+'/linhas/', function(data)
        {
            var options=$('#select_linhas');
            //$('#select_linhas').append('<option value="">Selecione a linha</select>');
            linhas=data;
            $.each(data.data, function(i,v) {
                options.append($("<option />").val(v.oid).text(v.linha));
            });
         });
    }
});
</script>
{% endblock %}
