{% extends "registros/base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ajustes.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/overcast/jquery-ui-1.8.18.custom.css" type="text/css" charset="utf-8">
    <script type="text/javascript" src="{{MEDIA_URL}}js/pontos-array.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/titlecase.js"></script>
  <div class="row">
	  <div class="span16">
		  <form action="" method="post">{% csrf_token %}
			  <fieldset>
				  <legend>Registro</legend>
				  <div class="clearfix">
					  {{ form.twitter.label_tag }}
					  <div class="input">
						  <div class="input-prepend">
                <span class="add-on">@</span>
                {{ form.twitter }}
						  </div>
					  </div>
				  </div>
				  <div class="clearfix">
					  {{ form.ponto.label_tag }}
					  <div class="input">
						  {{ form.ponto }}
					  </div>
				  </div>
				  <div class="clearfix">
					  {{ form.linha.label_tag }}
					  <div class="input">
						  {{ form.linha }}
					  </div>
				  </div>
				  <div class="hour clearfix">
					  {{ form.horas.label_tag }}
					  <div class="input">
						  {{ form.horas }} : {{ form.minutos }}
					  </div>
				  </div>
          <div class="hour clearfix">
					  {{ form.lembrar.label_tag }}
					  <div class="input">
					    {{ form.lembrar }}
					  </div>
				  </div>
				  <div class="hour clearfix">
					  {#{ form.fim_de_semana.label_tag }#}
					  <div class="input">
						  {{ form.fim_de_semana }}
					  </div>
				  </div>
				  <div class="actions">
					  <input class="btn primary" type="submit" value="Salvar Ponto">
					  <a class="btn" href="/twitnerario/">Cancelar</a>
				  </div>
			  </fieldset>
		  </form>
	  </div>
  </div>
  <div class="row">
	  <div id="content" class="span16"></div>
  </div>
{% endblock %}
{% block footer_inc %}
<script type="text/javascript" src="{{MEDIA_URL}}js/encontra-linhas.js"></script>
{% endblock %}
