{% extends "registros/base.html" %}

{% block content %}
    <style type="text/css">
        select#id_horas, #id_minutos{
            width: 50px;
        }
        div.hour label{
            margin-left: -15px;
            padding-right: 10px;
            width: 150px;
        }
    </style>
    <style>
    /* AutoComple jQuery UI */
	    .ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 100px;
	}
	</style>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/overcast/jquery-ui-1.8.18.custom.css" type="text/css" charset="utf-8">
	<div class="row">
		<div class="span16">
			<form action="" method="post">{% csrf_token %}

				<fieldset>
					<legend>Registro</legend>
                    
					<div class="clearfix">
						{{ form.twitter.label_tag }}
						  <div class="input">
							<div class="input-prepend">
                              <span class="add-on">@</span>
                              {{ form.twitter }}
							</div>
						  </div>
					</div>

					<div class="clearfix">
						{{ form.ponto.label_tag }}
						<div class="input">
							{{ form.ponto }}
						</div>
					</div>

					<div class="clearfix">
						{{ form.linha.label_tag }}
						<div class="input">
							{{ form.linha }}
						</div>
					</div>

					<div class="hour clearfix">
						{{ form.horas.label_tag }}
						<div class="input">
							{{ form.horas }} : {{ form.minutos }}
						</div>
					</div>
                    
                    <div class="clearfix">
						{{ form.lembrar.label_tag }}
						<div class="input">
							{{ form.lembrar }}
						</div>
					</div>
                    
					<div class="actions">
						<input class="btn primary" type="submit" value="Salva Ponto">
						<a class="btn" href="/twitnerario/">Cancelar</a>
					</div>

				</fieldset>

			</form>
		</div>
	</div>
	<div class="row">
		<div id="content" class="span16"></div>
	</div>
{% endblock %}

{% block footer_inc %}
<script type="text/javascript">
// TitleCase
String.prototype.toTitleCase = function() {
    var i, str, lowers, uppers;
    str = this.replace(/\w\S*/g, function(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    });

    // Certain minor words should be left lowercase unless 
    // they are the first or last words in the string
    //lowers = ['A', 'An', 'The', 'And', 'But', 'Or', 'For', 'Nor', 'As', 'At', 
    //'By', 'For', 'From', 'In', 'Into', 'Near', 'Of', 'On', 'Onto', 'To', 'With'];
    // Pt-Br
    lowers = ['', 'No', 'Na','Nos', 'Nas','Em', 'O', 'Os', 'A', 'As', 'Ao','Aos', 
    'Um', 'Uma', 'Uns', 'Umas','Do','De','Da','Dos','Des','Das','Defronte','Av',
    'Avn','Frente'];
    for (i = 0; i < lowers.length; i++)
        str = str.replace(new RegExp('\\s' + lowers[i] + '\\s', 'g'), 
            function(txt) {
                return txt.toLowerCase();
            });

    // Certain words such as initialisms or acronyms should be left uppercase
    uppers = ['Id'];
    for (i = 0; i < uppers.length; i++)
        str = str.replace(new RegExp('\\b' + uppers[i] + '\\b', 'g'), 
            uppers[i].toUpperCase());

    return str;
}
var num_regex=/([0-9]+)/g;
var uiSelected=false;
var pts=[];
var pontosJSON;
var linha;
$(function() {
    /*
        Encontra Pontos
    */
    var $id_ponto=$("#id_ponto");
    // Get JSON
    $.getJSON('/pontos/', function(data){
        pontosJSON=data;
        // Criar lista de pontos
        $.each(data.data, function(i,v) {
            //pts.push(v.ponto);
            pts[pts.length]=v.ponto;
        });
        $id_ponto.autocomplete({
		    source: pts,
		    minLength: 0,
	    });
    });
    $id_ponto.autocomplete({
        select: function(event, ui) {
            uiSelected=ui;
            //alert(uiSelected.item.value);
            $.each(pontosJSON.data, function(i,v) {
                //alert(ui.value);
                //uuii=ui;
                if(v.ponto==uiSelected.item.value){
                    $('#info').remove();
                    plocal=v.logradouro+', '+v.bairro+', '+v.referencia
                    $id_ponto.after('<p id="info" style="display:none;color:#404040;font-size: 13px;padding-top: 4px;margin-bottom: 0px;">'+plocal.toTitleCase()+'</p>');
                    $('#info').show('slow');
                    setSelectLinhas(uiSelected.item.value);
                    uiSelected=null;
                    return false;    
                }
            });
        }
    });
    /* Tentativa de tratar excecao - pensar melhor
    $id_ponto.focusout(function(){
        alert('focus out');
    });
    */
     /*
        Encontra Linhas
    */
    function setSelectLinhas(ponto){
        // Get JSON
        $("#id_linha option").remove();
        $.getJSON('/'+ponto+'/linhas/', function(data)
        {
            var options=$('#id_linha');
            linhas=data;
            $.each(data.data, function(i,v) {
                linha=v.linha;
                options.append($("<option />").val(linha.match(num_regex)).text(linha));
            });
         });
    }
    /*
        Excecoes
    */
    $('#id_twitter').change(function(){
        if($(this).val().match(/@/g)){
            $(this).val($(this).val().replace(/@/g, ""));
            $(this).after('<p id="info-twitter" style="display:none;color:#404040;font-size: 13px;padding-top: 4px;margin-bottom: 0px;">&ensp;&uarr; olha o @ já está aqui (^-^)</p>');
            $('#info-twitter').show('fast');
            $('#info-twitter').delay(8000).hide('slow');
        }
        //alert($(this).val().replace(/@/g, ""));
    });
});
</script>
{% endblock %}
