/* Ajustes no design */

/* Quick links
-------------------------------------------------- */
.bs-links {
  /*margin: 36px 0;*/
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 940px;
  display: table;
  content: "";
}
.quick-links {
  min-height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  overflow: hidden;
}
.quick-links:first-child {
  min-height: 0;
}
.quick-links li {
  display: inline;
  margin: 0 0px;
  color: #999;
}

.quick-links-footer li {
  display: inline;
  margin: 0 20px;
  color: #999;
}

.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn {
  position: relative;
  top: 5px;
}

.hero-unit{
    padding-top: 30px;
    padding-bottom: 30px;
}

select#id_horas, #id_minutos{
    width: 50px;
}

div.hour label{
    margin-left: -15px;
    padding-right: 10px;
    width: 150px;
}

select#id_linha, #id_lembrar{
    width: 246px;
}

/* AutoComple jQuery UI */
    .ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}
