/* Pesquisar pontos */

hr.separador {
	max-width: 706px;
	margin-bottom: 3px;
	margin-top: 3px;
}

div.resultado {
	padding: 5px;
}

div.resultado:hover{
	color: #1B1B1B;
}

.ponto {
	float: left;
	font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
}

.endereco {
	display: inline-table;
	padding-left: 6px;
}

.lograd {
	padding-bottom: 3px;
	padding-top: 2px;
	font-size: 14px;
}