<html>
<head>
  <title>Facebook Auth</title>
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.7.1.min.js"></script>
</head>
<body>
  <h4>Facebook Auth</h4>
  <script>
    var access_token='AAADo1tr6y1UBADijEe6KAw3UGgZCPQO9ZAyJvHWu5kc1YWHOxGHZB1rfSoyDAatXMdAxqDIrG2kxGVPXZBe4vx8neDJ2wr4IsVLZBZAI1II6STcfoLxV2q';
    var resp;
    //https://graph.facebook.com/me?access_token=
    var xhr = $.ajax({
            url: 'https://graph.facebook.com/me',
            type: 'GET',
            cache: false,
            data: { access_token: access_token },
            success: function(response) {
                  resp=response;
//                var parsedData = [];
//                for (var i in response.objects) {
//                    obj = response.objects[i];
//                    parsedData.push({
//                        data: obj,
//                        value: obj.name + ' ' + obj.email,
//                        result: obj.name
//                    });
//                }
//                callback(parsedData);
            },
            error: function() {
                console.error('Could not load contact list');
            }
        });
  </script>
</body>
</html>
