{% extends "base.html" %}
{% block title %}Articles{% endblock %}
{% block menu %}
<li><a href="/">Home</a></li>
<li><a href="/knowledge-base/">Knowledge Base</a></li>
<li class="active"><a href="/articles/">Articles</a></li>
<li><a href="/faq/">Faq</a></li>
<li><a href="/features/">Features</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
  <ul class="dropdown-menu">
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/full/">Full</a></li>
  </ul>
</li>
{% endblock %}
{% block content %}
<!-- PAGE CONTENT -->
<div id="wrap" class="container" role="document">
  <div id="content" class="row">
    <div id="main" class="span9" role="main">
      <div class="page-title">
        <h1>Articles</h1>
      </div>

      <article class="hentry">
        <header>
          <h2><i class="icon-file"></i> <a href="/article/">Standard Post Format</a></h2>
          <div class="loop-like">
            <span class="label label-likes"><i class="icon-comment"></i> 6</span>
          </div>    
        </header>
        <div class="entry-content">
          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &#8220;What&#8217;s happened to me? &#8221; he thought. It wasn&#8217;t a dream. His room, a proper <span class="label label-color"><a href="/article/"> Read more <i class="icon-chevron-right"></i></a></span></p>
        </div>
        <footer class="post-meta">
           <time class="updated" datetime="2013-01-12T20:29:42+00:00" pubdate>Last Updated: 109 days ago </time>          
         </footer>
      </article>   

      <article class="hentry">
        <header>
          <h2><i class="icon-file"></i> <a href="/article/">Template Setup</a></h2>
          <div class="loop-like">
            <span class="label label-likes"><i class="icon-comment"></i> 3</span>
          </div>    
        </header>
        <div class="entry-content">
          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &#8220;What&#8217;s happened to me? &#8221; he thought. It wasn&#8217;t a dream. His room, a <span class="label label-color"><a href="/article/"> Read more <i class="icon-chevron-right"></i></a></span></p>
        </div>
        <footer class="post-meta">
           <time class="updated" datetime="2013-01-12T20:19:41+00:00" pubdate>Last Updated: 109 days ago </time>          
         </footer>
      </article>  

      <article class="hentry">
        <header>
          <h2><i class="icon-video"></i> <a href="/article/">Fully Responsive Design</a></h2>
          <div class="loop-like">
            <span class="label label-likes"><i class="icon-comment"></i> 6</span>
          </div>    
        </header>
        <div class="entry-content">
          <div class="fitvids">
            <iframe src="http://player.vimeo.com/video/55542236?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div> 
          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &#8220;What&#8217;s happened to me? &#8221; he thought. It wasn&#8217;t a dream. His room, a proper <span class="label label-color"><a href="/article/"> Read more <i class="icon-chevron-right"></i></a></span></p>
        </div>
        <footer class="post-meta">
           <time class="updated" datetime="2013-01-12T20:29:42+00:00" pubdate>Last Updated: 109 days ago </time>          
         </footer>
      </article>   

      <article class="hentry">
        <header>
          <h2><i class="icon-file"></i> <a href="/article/">Standard Post Format</a></h2>
          <div class="loop-like">
            <span class="label label-likes"><i class="icon-comment"></i> 12</span>
          </div>    
        </header>
        <div class="entry-content">
          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &#8220;What&#8217;s happened to me? &#8221; he thought. It wasn&#8217;t a dream. His room, a proper <span class="label label-color"><a href="/article/"> Read more <i class="icon-chevron-right"></i></a></span></p>
        </div>
        <footer class="post-meta">
           <time class="updated" datetime="2013-01-12T20:29:42+00:00" pubdate>Last Updated: 109 days ago </time>          
         </footer>
      </article>   

      <article class="hentry">
        <header>
          <h2><i class="icon-picture"></i> <a href="/article/">Image Post Format</a></h2>
          <div class="loop-like">
            <span class="label label-likes"><i class="icon-comment"></i> 6</span>
          </div>    
        </header>
        <div class="entry-content">
          <a href="/article/" title="Fully Responsive Design">
            <img width="870" height="490" src="{{ MEDIA_URL }}assets/img/5466452-870x490.png" class="post-image" alt="Image">
          </a>
          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &#8220;What&#8217;s happened to me? &#8221; he thought. It wasn&#8217;t a dream. His room, a proper <span class="label label-color"><a href="/article/"> Read more <i class="icon-chevron-right"></i></a></span></p>
        </div>
        <footer class="post-meta">
           <time class="updated" datetime="2013-01-12T20:29:42+00:00" pubdate>Last Updated: 109 days ago </time>          
         </footer>
      </article>   

      <div class="pagination">
        <ul class="clearfix">
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li class=""><a href="#" >Next &rarr;</a></li>
        </ul>       
      </div>
    </div>

    <aside id="sidebar" class="span3" role="complementary">
      <section class="widget">
        <h3>Knowledge Base</h3>
        <ul class="menu">
          <li><a href="#">Getting Started</a></li>
          <li><a href="#">Administration</a></li>
          <li><a href="#">Admin Panel</a></li>
          <li><a href="#">Extensions</a></li>
          <li><a href="#">Shipping Methods</a></li>
          <li><a href="#">Tips and Tricks</a></li>
          <li><a href="#">Troubleshooting</a></li>
          <li><a href="#">Video Tutorials</a></li>
        </ul>
      </section>
      <section class="widget">
        <h3>Recent Articles</h3>
        <ul>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Standard Post Format">Standard Post Format</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Disabled Comments">Disabled Comments</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Theme Set Up">Theme Set Up</a>
          </li>
          <li>
            <i class="icon-film"></i> <a href="#" title="Permanent link to Video Post Format">Video Post Format</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Follow up Emails">Follow up Emails</a>
          </li>
          <li>
            <i class="icon-picture"></i> <a href="#" title="Permanent link to Fully Responsive Design">Fully Responsive Design</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Well Documented">Well Documented</a>
          </li>
        </ul>
      </section>        
    </aside>
  </div><!-- /#content -->
</div><!-- /#wrap -->
{% endblock %}