{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page_header %}{% endblock %}
{% block content %}
<!-- HERO -->
<div id="hero">
  <div class="container">

    <!-- Hero title -->
    <div class="hero-title">
      <h1>Support Center</h1>
    </div>

    <!-- Hero search -->
    <div class="hero-search">
      <form role="search" method="get" id="searchform" class="form-search" action="#">
        <label class="hide" for="s">Search for:</label>
        <input type="text" id="autocomplete-dynamic" name="s" class="searchajax search-query" autocomplete="off" placeholder="Find help! Enter search term here.">
        <input type="submit" id="searchsubmit" value="Search" class="btn-black">
      </form>
    </div>

    <!-- Hero boxes -->
    <div class="row boxes">
      <div class="span4">
        <div class="box">
          <div class="box-icon">
            <i class="icon-file-alt"></i>
          </div>
          <div class="box-title">
            <h2><a href="#">Heading</a></h2>
          </div>
          <div class="box-text">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <a class="btn-black" href="#">Continue</a>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="box">
          <div class="box-icon">
            <i class="icon-check"></i>
          </div>
          <div class="box-title">
            <h2><a href="#">Heading</a></h2>
          </div>
          <div class="box-text">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <a class="btn-black" href="#">Continue</a>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="box">
          <div class="box-icon">
            <i class="icon-envelope"></i>
          </div>
          <div class="box-title">
            <h2><a href="#">Heading</a></h2>
          </div>
          <div class="box-text">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <a class="btn-black" href="#">Continue</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- FEATURED RECENT ARTICLES -->
<div id="section-container">
  <div class="container">

    <div class="row recent-title">
      <h2 class="span12">Set Featured Articles For Frequent Questions</h2>
    </div>

    <div class="row recent-posts">
      <div class="span3">
        <article id="post-695" class="post-695 post type-post status-publish format-image hentry category-troubleshooting">
          <header>
            <h4><i class="icon-picture"></i> <a href="#">Responsive Design</a></h4>
          </header>
          <div class="entry-content">
            <div class="">
              <a href="#" title="Responsive Design">
                <img width="870" height="490" src="{{ MEDIA_URL }}assets/img/5466452-870x490.png" class="attachment-image_870x490 wp-post-image" alt="5466452">                </a>
              </div>
            <div class="">
             <p>One morning, when Greg woke from troubled dreams, he found himself formed in his <span class="label label-color"><a href="#"> Read more <i class="icon-chevron-right"></i></a></span></p>
            </div>
          </div>
        </article>
      </div>
  
      <div class="span3">
        <article id="post-734" class="post-734 post type-post status-publish format-standard hentry category-shipping-methods">
          <header>
            <h4><i class="icon-file"></i> <a href="#">Unlimited Colors</a></h4>
          </header>
          <div class="entry-content">
            <div class="">
              <a href="#" title="Unlimited Colors">
                <img width="870" height="490" src="{{ MEDIA_URL }}assets/img/236569569-870x490.png" class="attachment-image_870x490 wp-post-image" alt="236569569">                </a>
              </div>
            <div class="">
             <p>How quickly daft jumping zebras vex. Two driven jocks help fax my big quiz. <span class="label label-color"><a href="#"> Read more <i class="icon-chevron-right"></i></a></span></p>
            </div>
          </div>
        </article>
      </div>
  
      <div class="span3">
        <article id="post-689" class="post-689 post type-post status-publish format-image hentry category-using-the-admin-panel category-extensions">
          <header>
            <h4><i class="icon-picture"></i> <a href="#">Live Search</a></h4>
          </header>
          <div class="entry-content">
            <div class="">
              <a href="#" title="Live Search">
                <img width="870" height="490" src="{{ MEDIA_URL }}assets/img/236544-870x490.png" class="attachment-image_870x490 wp-post-image" alt="236544">                </a>
              </div>
            <div class="featured-text">
             <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings <span class="label label-color"><a href="#"> Read more <i class="icon-chevron-right"></i></a></span></p>
            </div>
          </div>
        </article>
      </div>
  
      <div class="span3">
        <article id="post-730" class="post-730 post type-post status-publish format-standard hentry category-customization category-shipping-methods">
          <header>
            <h4><i class="icon-file"></i> <a href="#">Well Documented</a></h4>
          </header>
          <div class="entry-content">
            <div class="">
              <a href="#" title="Well Documented">
                <img width="870" height="490" src="{{ MEDIA_URL }}assets/img/69475614-870x490.png" class="attachment-image_870x490 wp-post-image" alt="69475614">                </a>
              </div>
            <div class="">
             <p>One morning, when Greg woke from troubled dreams, he found himself formed in his <span class="label label-color"><a href="#"> Read more <i class="icon-chevron-right"></i></a></span></p>
            </div>
          </div>
        </article>
      </div>

    </div>
  </div>
</div>

<!-- VIDEO SECTION -->
<div id="section-container" class="video-bg">
  <div class="container">
    <div class="row video-title">
      <h2 class="span12">Create Support Video Articles</h2>
    </div>
    <div class="row">
      <div class="span8">
        <div class="box-video">
            <a href="#"><i class="icon-play-circle"></i></a>
            <h2><a href="#">Theme Installation</a></h2>
        </div>
      </div>
      <div class="span4">
        <div class=" box-video-list">
          <div class="box-video-title">
            <h2>Video Tutorials</h2>
          </div>
          <div class="box-video-links">
            <ul class="category-posts">            
              <li><h4><i class="icon-film"></i> <a href="#">Video Post Format</a></h4></li>
              <li><h4><i class="icon-film"></i> <a href="#">Multiple Ship to Addresses</a></h4></li>
              <li><h4><i class="icon-film"></i> <a href="#">Theme Installation</a></h4></li>
              <li><h4><i class="icon-film"></i> <a href="#">Plugin Installation</a></h4></li>
              <li><h4><i class="icon-film"></i> <a href="#">Warnings and errors</a></h4></li>
              <li><h4><i class="icon-film"></i> <a href="#">Rewrite configuration</a></h4></li>
              <li><h4><i class="icon-film"></i> <a href="#">Using Custom Fields</a></h4></li>
            </ul>
            <span class="label label-color"><a href="#" title="">View all videos <i class="icon-chevron-right"></i></a></span>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
{% endblock %}