{% extends "base.html" %}
{% block title %}Knowledge Base{% endblock %}
{% block menu %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/knowledge-base/">Knowledge Base</a></li>
<li><a href="/articles/">Articles</a></li>
<li><a href="/faq/">Faq</a></li>
<li><a href="/features/">Features</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
  <ul class="dropdown-menu">
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/full/">Full</a></li>
  </ul>
</li>
{% endblock %}
{% block content %}
<!-- PAGE CONTENT -->
<div id="wrap" class="container" role="document">
  <div id="content" class="row">
    <div id="main" class="knowledge-base span9" role="main">
      <div class="row knowledge-base-row">
        <div class="span3">
          <h2>
            <a href="/articles/" title="Administration" >Administration</a>
          </h2>
          <ul class="category-posts">
            <li><i class="icon-file"></i> <a href="/article/">Disabled Comments</a></li>
            <li><i class="icon-picture"></i> <a href="/article/">Fully Responsive Design</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Shipping Options Page</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Setting up attributes</a></li>
            <li><i class="icon-picture"></i> <a href="/article/">Downloadable products</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Increasing Memory</a></li>
          </ul>
          <span class="label label-color"><a href="/articles/" title="" >View all 7 articles <i class="icon-chevron-right"></i></a></span>
        </div>
        <div class="span3">
          <h2>
            <a href="/articles/" title="Customization" >Customization</a>
          </h2>
          <ul class="category-posts">    
            <li><i class="icon-file"></i> <a href="/article/">Standard Post Format</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Theme Set Up</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Well Documented</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Shipping Options Page</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Increasing Memory</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Shipping Methods</a></li>
          </ul>
          <span class="label label-color"><a href="/articles/" title="" >View all 7 articles <i class="icon-chevron-right"></i></a></span>
        </div>
        <div class="span3">
          <h2>
            <a href="/articles/" title="Extensions" >Extensions</a>
          </h2>
          <ul class="category-posts">    
            <li><i class="icon-file"></i> <a href="/article/">Disabled Comments</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Follow up Emails</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Payment Extension</a></li>
            <li><i class="icon-picture"></i> <a href="/article/">Live Search</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Shipping Methods</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Import and Export Extension</a></li>
          </ul>
          <span class="label label-color"><a href="/articles/" title="" >View all 7 articles <i class="icon-chevron-right"></i></a></span>
          </div>
        </div>
        <div class="row knowledge-base">
          <div class="span3">
            <h2>
              <a href="/articles/" title="Getting Started" >Getting Started</a>
            </h2>
            <ul class="category-posts">    
            <li><i class="icon-file"></i> <a href="/article/">Standard Post Format</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Theme Set Up</a></li>
            <li><i class="icon-picture"></i> <a href="/article/">Fully Responsive Design</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Theme Installation</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Local Server Setup</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Plugin Installation</a></li>
          </ul>
          <span class="label label-color"><a href="/articles/" title="" >View all 8 articles <i class="icon-chevron-right"></i></a></span>
        </div>
        <div class="span3">
          <h2>
            <a href="/articles/" title="Shipping Methods" >Shipping Methods</a>
          </h2>
          <ul class="category-posts">    
            <li><i class="icon-file"></i> <a href="/article/">Disabled Comments</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Follow up Emails</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Unlimited Colors</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Well Documented</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Multiple Ship to Addresses</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Shipping Options Page</a></li>
          </ul>
          <span class="label label-color"><a href="/articles/" title="" >View all 7 articles <i class="icon-chevron-right"></i></a></span></div>
          <div class="span3">
            <h2>
              <a href="/articles/" title="Tips and Tricks" >Tips and Tricks</a>
            </h2>
            <ul class="category-posts">    
            <li><i class="icon-file"></i> <a href="/article/">Disabled Comments</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Theme Set Up</a></li>
            <li><i class="icon-picture"></i> <a href="/article/">Fully Responsive Design</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Setting up attributes</a></li>
            <li><i class="icon-picture"></i> <a href="/article/">Downloadable product</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Increasing Memory</a></li>
          </ul>
          <span class="label label-color"><a href="/articles/" title="" >View all 8 articles <i class="icon-chevron-right"></i></a></span>
        </div>
      </div>
      <div class="row knowledge-base">
        <div class="span3">
          <h2>
            <a href="/articles/" title="Troubleshooting" >Troubleshooting</a>
          </h2>
          <ul class="category-posts">    
            <li><i class="icon-file"></i> <a href="/article/">Standard Post Format</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Theme Set Up</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Increasing Memory</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Multiple installs on one domain</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Warnings and errors</a></li>
            <li><i class="icon-picture"></i> <a href="/article/">Responsive Design</a></li>
          </ul>
          <span class="label label-color"><a href="/articles/" title="" >View all 6 articles <i class="icon-chevron-right"></i></a></span>
        </div>
        <div class="span3">
          <h2>
            <a href="/articles/" title="Admin Panel" >Admin Panel</a>
          </h2>
          <ul class="category-posts">    
            <li><i class="icon-file"></i> <a href="/article/">Standard Post Format</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Follow up Emails</a></li>
            <li><i class="icon-file"></i> <a href="/article/">Local Server Setup</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Plugin Installation</a></li>
            <li><i class="icon-picture"></i> <a href="/article/">Upgrading Theme</a></li>
            <li><i class="icon-picture"></i> <a href="/article/">Live Search</a></li>
          </ul>
          <span class="label label-color"><a href="/articles/" title="" >View all 7 articles <i class="icon-chevron-right"></i></a></span>
        </div>
        <div class="span3">
          <h2>
            <a href="/articles/" title="Video Tutorials" >Video Tutorials</a>
          </h2>
          <ul class="category-posts">    
            <li><i class="icon-film"></i> <a href="/article/">Video Post Format</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Multiple Ship to Addresses</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Theme Installation</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Plugin Installation</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Warnings and errors</a></li>
            <li><i class="icon-film"></i> <a href="/article/">Rewrite configuration</a></li>
          </ul>
          <span class="label label-color"><a href="/articles/" title="" >View all 8 articles <i class="icon-chevron-right"></i></a></span>
        </div>  
      </div>
    </div>
    <aside id="sidebar" class="span3" role="complementary">
      <section class="widget">
        <h3>Knowledge Base</h3>
        <ul class="menu">
          <li><a href="#">Getting Started</a></li>
          <li><a href="#">Administration</a></li>
          <li><a href="#">Admin Panel</a></li>
          <li><a href="#">Extensions</a></li>
          <li><a href="#">Shipping Methods</a></li>
          <li><a href="#">Tips and Tricks</a></li>
          <li><a href="#">Troubleshooting</a></li>
          <li><a href="#">Video Tutorials</a></li>
        </ul>
      </section>
      <section class="widget">
        <h3>Recent Articles</h3>
        <ul>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Standard Post Format">Standard Post Format</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Disabled Comments">Disabled Comments</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Theme Set Up">Theme Set Up</a>
          </li>
          <li>
            <i class="icon-film"></i> <a href="#" title="Permanent link to Video Post Format">Video Post Format</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Follow up Emails">Follow up Emails</a>
          </li>
          <li>
            <i class="icon-picture"></i> <a href="#" title="Permanent link to Fully Responsive Design">Fully Responsive Design</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Unlimited Colors">Unlimited Colors</a>
          </li>
          <li>
            <i class="icon-file"></i> <a href="#" title="Permanent link to Well Documented">Well Documented</a>
          </li>
        </ul>
      </section>        
    </aside>
  </div><!-- /#content -->
</div><!-- /#wrap -->
{% endblock %}