{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}KnowledgePress HTML Template{% endblock %}</title>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ MEDIA_URL }}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}assets/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ MEDIA_URL }}assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ MEDIA_URL }}assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ MEDIA_URL }}assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ MEDIA_URL }}assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ MEDIA_URL }}assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}assets/ico/favicon.png">
    {% endblock %}
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <!-- NAVBAR
    ================================================== -->
    <div class="banner navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{% block brand %}<img src="{{ MEDIA_URL }}assets/img/bus.png">{% endblock %}</a>
          <!-- Responsive Navbar -->
          <div id="nav-main">
            <ul id="menu" class="nav pull-left">
              {% block menu %}
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/knowledge-base/">Knowledge Base</a></li>
              <li><a href="/articles/">Articles</a></li>
              <li><a href="/faq/">Faq</a></li>
              <li><a href="/features/">Features</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                <ul class="dropdown-menu">
                  <li><a href="/contact/">Contact</a></li>
                  <li><a href="/full/">Full</a></li>
                </ul>
              </li>
              {% endblock %}
              <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
            </ul>
          </div><!--/.nav-collapse -->
        </div> <!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
    {% block page_header %}
    <!-- PAGE HEADER -->
    <div id="page-header-container">
      <div class="container">
        <div class="page-header row">
          <div class="span8">
            <h1>Support Center</h1>
            <p class="tagline">Find answers and help fast</p>
          </div>
          <div class="span4">
            <form role="search" method="get" id="searchform" class="form-search" action="http://localhost:8888/">
              <label class="hide" for="s">Search for:</label>
              <input type="text" value="" name="s" id="autocomplete-dynamic" class="searchajax search-query span4" autocomplete="off" placeholder="Enter search term here.">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block content %}
    <!-- HERO -->
    <div id="hero">
      <div class="container">

        <!-- Hero title -->
        <div class="hero-title">
          <h1>Support Center</h1>
        </div>

        <!-- Hero search -->
        <div class="hero-search">
          <form role="search" method="get" id="searchform" class="form-search" action="#">
            <label class="hide" for="s">Search for:</label>
            <input type="text" id="autocomplete-dynamic" name="s" class="searchajax search-query" autocomplete="off" placeholder="Find help! Enter search term here.">
            <input type="submit" id="searchsubmit" value="Search" class="btn-black">
          </form>
        </div>

        <!-- Hero boxes -->
        <div class="row boxes">
          <div class="span4">
            <div class="box">
              <div class="box-icon">
                <i class="icon-file-alt"></i>
              </div>
              <div class="box-title">
                <h2><a href="#">Heading</a></h2>
              </div>
              <div class="box-text">
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                <a class="btn-black" href="#">Continue</a>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="box">
              <div class="box-icon">
                <i class="icon-check"></i>
              </div>
              <div class="box-title">
                <h2><a href="#">Heading</a></h2>
              </div>
              <div class="box-text">
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                <a class="btn-black" href="#">Continue</a>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="box">
              <div class="box-icon">
                <i class="icon-envelope"></i>
              </div>
              <div class="box-title">
                <h2><a href="#">Heading</a></h2>
              </div>
              <div class="box-text">
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                <a class="btn-black" href="#">Continue</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- FEATURED RECENT ARTICLES -->
    <div id="section-container">
      <div class="container">

        <div class="row recent-title">
          <h2 class="span12">Set Featured Articles For Frequent Questions</h2>
        </div>

        <div class="row recent-posts">
          <div class="span3">
            <article id="post-695" class="post-695 post type-post status-publish format-image hentry category-troubleshooting">
              <header>
                <h4><i class="icon-picture"></i> <a href="#">Responsive Design</a></h4>
              </header>
              <div class="entry-content">
                <div class="">
                  <a href="#" title="Responsive Design">
                    <img width="870" height="490" src="{{ MEDIA_URL }}assets/img/5466452-870x490.png" class="attachment-image_870x490 wp-post-image" alt="5466452">                </a>
                  </div>
                <div class="">
                 <p>One morning, when Greg woke from troubled dreams, he found himself formed in his <span class="label label-color"><a href="#"> Read more <i class="icon-chevron-right"></i></a></span></p>
                </div>
              </div>
            </article>
          </div>
      
          <div class="span3">
            <article id="post-734" class="post-734 post type-post status-publish format-standard hentry category-shipping-methods">
              <header>
                <h4><i class="icon-file"></i> <a href="#">Unlimited Colors</a></h4>
              </header>
              <div class="entry-content">
                <div class="">
                  <a href="#" title="Unlimited Colors">
                    <img width="870" height="490" src="{{ MEDIA_URL }}assets/img/236569569-870x490.png" class="attachment-image_870x490 wp-post-image" alt="236569569">                </a>
                  </div>
                <div class="">
                 <p>How quickly daft jumping zebras vex. Two driven jocks help fax my big quiz. <span class="label label-color"><a href="#"> Read more <i class="icon-chevron-right"></i></a></span></p>
                </div>
              </div>
            </article>
          </div>
      
          <div class="span3">
            <article id="post-689" class="post-689 post type-post status-publish format-image hentry category-using-the-admin-panel category-extensions">
              <header>
                <h4><i class="icon-picture"></i> <a href="#">Live Search</a></h4>
              </header>
              <div class="entry-content">
                <div class="">
                  <a href="#" title="Live Search">
                    <img width="870" height="490" src="{{ MEDIA_URL }}assets/img/236544-870x490.png" class="attachment-image_870x490 wp-post-image" alt="236544">                </a>
                  </div>
                <div class="featured-text">
                 <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings <span class="label label-color"><a href="#"> Read more <i class="icon-chevron-right"></i></a></span></p>
                </div>
              </div>
            </article>
          </div>
      
          <div class="span3">
            <article id="post-730" class="post-730 post type-post status-publish format-standard hentry category-customization category-shipping-methods">
              <header>
                <h4><i class="icon-file"></i> <a href="#">Well Documented</a></h4>
              </header>
              <div class="entry-content">
                <div class="">
                  <a href="#" title="Well Documented">
                    <img width="870" height="490" src="{{ MEDIA_URL }}assets/img/69475614-870x490.png" class="attachment-image_870x490 wp-post-image" alt="69475614">                </a>
                  </div>
                <div class="">
                 <p>One morning, when Greg woke from troubled dreams, he found himself formed in his <span class="label label-color"><a href="#"> Read more <i class="icon-chevron-right"></i></a></span></p>
                </div>
              </div>
            </article>
          </div>

        </div>
      </div>
    </div>
    <!-- VIDEO SECTION -->
    <div id="section-container" class="video-bg">
      <div class="container">
        <div class="row video-title">
          <h2 class="span12">Create Support Video Articles</h2>
        </div>
        <div class="row">
          <div class="span8">
            <div class="box-video">
                <a href="#"><i class="icon-play-circle"></i></a>
                <h2><a href="#">Theme Installation</a></h2>
            </div>
          </div>
          <div class="span4">
            <div class=" box-video-list">
              <div class="box-video-title">
                <h2>Video Tutorials</h2>
              </div>
              <div class="box-video-links">
                <ul class="category-posts">            
                  <li><h4><i class="icon-film"></i> <a href="#">Video Post Format</a></h4></li>
                  <li><h4><i class="icon-film"></i> <a href="#">Multiple Ship to Addresses</a></h4></li>
                  <li><h4><i class="icon-film"></i> <a href="#">Theme Installation</a></h4></li>
                  <li><h4><i class="icon-film"></i> <a href="#">Plugin Installation</a></h4></li>
                  <li><h4><i class="icon-film"></i> <a href="#">Warnings and errors</a></h4></li>
                  <li><h4><i class="icon-film"></i> <a href="#">Rewrite configuration</a></h4></li>
                  <li><h4><i class="icon-film"></i> <a href="#">Using Custom Fields</a></h4></li>
                </ul>
                <span class="label label-color"><a href="#" title="">View all videos <i class="icon-chevron-right"></i></a></span>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block footer %}
    <!-- FOOTER -->
    <footer>
      <div class="main-footer">
        <div class="container">
          <div class="row">
            <!-- Widgets -->
            {% block footer_widgets %}
            <section class="span3">
              <h4>Latest Articles</h4>
              <ul>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Unlimited Color Settings</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Import and Export Feature</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Easy Plugin Installation</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Local Server Setup Guide</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Dashboard Theme Installation</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Multiple Addresses Setup</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Well Documented Theme</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Unlimited Color Settings</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Import and Export Feature</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Easy Plugin Installation</a>
                </li>
                <li>
              </ul>
            </section>
            <section class="span3">
              <h4>Popular Articles</h4>
              <ul>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Unlimited Color Settings</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Import and Export Feature</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Easy Plugin Installation</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Local Server Setup Guide</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Dashboard Theme Installation</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Multiple Addresses Setup</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Well Documented Theme</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Unlimited Color Settings</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Import and Export Feature</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Easy Plugin Installation</a>
                </li>
                <li>
              </ul>
            </section>
            <section class="span3">
              <h4>Frequent Questions</h4>
              <ul>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Unlimited Color Settings</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Import and Export Feature</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Easy Plugin Installation</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Local Server Setup Guide</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Dashboard Theme Installation</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Multiple Addresses Setup</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Well Documented Theme</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Unlimited Color Settings</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Import and Export Feature</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Easy Plugin Installation</a>
                </li>
                <li>
              </ul>
            </section>
            <section class="span3">
              <h4>Latest Articles</h4>
              <ul>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Unlimited Color Settings</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Import and Export Feature</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Easy Plugin Installation</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Local Server Setup Guide</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Dashboard Theme Installation</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Multiple Addresses Setup</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Well Documented Theme</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Unlimited Color Settings</a>
                </li>
                <li>
                  <i class="icon-file"></i> <a href="/article/" title="">Import and Export Feature</a>
                </li>
                <li>
                  <i class="icon-film"></i> <a href="/article/" title="">Easy Plugin Installation</a>
                </li>
                <li>
              </ul>
            </section>
            {% endblock %}
          </div>
        </div>
      </div>
      <!-- Sub footer -->
      <div class="sub-footer">
        <div class="container">
          <div id="social-icons">
            {% block social_icons %}
            <ul>
              <li class="social-icon twitter">
                <a class="fade-img" href="#" target="_blank" rel="tooltip" title="Twitter">
                  <img src="{{ MEDIA_URL }}assets/img/social/icons_twitter.png" alt="Twitter" />
                </a>
              </li>
              <li class="social-icon facebook">
                <a class="fade-img" href="#" target="_blank" rel="tooltip" title="Facebook">
                  <img src="{{ MEDIA_URL }}assets/img/social/icons_facebook.png" alt="Facebook" />
                </a>
              </li>
              <li class="social-icon gplus">
                <a class="fade-img" href="#" target="_blank" rel="tooltip" title="Google+">
                  <img src="{{ MEDIA_URL }}assets/img/social/icons_google.png" alt="Google+" />
                </a>
              </li>
              <li class="social-icon vimeo">
                <a class="fade-img" href="#" target="_blank" rel="tooltip" title="Vimeo">
                  <img src="{{ MEDIA_URL }}assets/img/social/icons_vimeo.png" alt="Vimeo" />
                </a>
              </li>
              <li class="social-icon youtube">
                <a class="fade-img" href="#" target="_blank" rel="tooltip" title="YouTube">
                  <img src="{{ MEDIA_URL }}assets/img/social/icons_youtube.png" alt="YouTube" />
                </a>
              </li>
              <li class="social-icon linkedin">
                <a class="fade-img" href="#" target="_blank" rel="tooltip" title="LindekIn">
                  <img src="{{ MEDIA_URL }}assets/img/social/icons_linkedin.png" alt="LindekIn" />
                </a>
              </li>
              <li class="social-icon flickr">
                <a class="fade-img" href="#" target="_blank" rel="tooltip" title="Flickr">
                  <img src="{{ MEDIA_URL }}assets/img/social/icons_flickr.png" alt="Flickr" />
                </a>
              </li>
              <li class="social-icon pinterest">
                <a class="fade-img" href="#" target="_blank" rel="tooltip" title="Pinterest">
                  <img src="{{ MEDIA_URL }}assets/img/social/icons_pinterest.png" alt="Pinterest" />
                </a>
              </li>
              <li class="social-icon rss">
                <a class="fade-img" href="#" target="_blank" rel="tooltip" title="RSS">
                  <img src="{{ MEDIA_URL }}assets/img/social/icons_rss.png" alt="RSS" />
                </a>
              </li>
            </ul>
            {% endblock %}
          </div> 
          <div class="copyright-text">{% block powered_by %}Copyright 2012. Powered by <a href='http://wordpress.org/'>WordPress</a>{% endblock %}
          </div>  
        </div>   
      </div>
    </footer>
    {% endblock %}
    {% block js %}
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ MEDIA_URL }}assets/js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-transition.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-alert.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-modal.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-dropdown.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-tab.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-tooltip.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-popover.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-button.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-collapse.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/bootstrap-carousel.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}assets/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}assets/js/application.js"></script>
    <script src="{{ MEDIA_URL }}assets/js/holder/holder.js"></script>
    {% block extra_js %}{% endblock %}
    {% endblock %}
  </body>
</html>