{% load form_utils_tags %}
<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="pt_BR">
<head>
  <meta charset="utf-8">
  <title>{% block page_title %}{% endblock %}Twitnerário Beta</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/ajustes.css" type="text/css" charset="utf-8">
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.marcopolo.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/registros_form.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/handlebars-1.0.rc.1.js"></script>
  {% block head_inc %}{% endblock %}
</head>
<!-- google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10732821-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<body>
  <!-- <div id="fb-root"></div>
  <script>
  /*
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=256009494514517";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  */
  </script>-->
  <header class="hero-unit">
    <div class="container">
      <a style="text-decoration:none;" href="/">
        <h1><img src="{{ MEDIA_URL }}img/twitnerario_logo_3.png" border="0" alt="Twitnerário" title="Twitnerário" /> Twitnerário <sup><span class="label notice">Beta</span></sup></h1>
      </a>
      <p>Agende e receba lembretes (tweets) com o horário que seu ônibus irá passar.</p>
      <div class="bs-links">
      <!-- <div class="fb-like" data-href="http://twitnerario.herokuapp.com/" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
      <div class="fb-login-button">Login with Facebook</div> -->
        <ul class="quick-links">
          <li class="follow-btn">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Agende e receba lembretes (tweets) com os horários previstos para seu ônibus passar." data-via="twitnerario" data-lang="pt" data-hashtags="Vitória-ES">Tweetar</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </li>
          <li class="tweet-btn">
            <a href="https://twitter.com/twitnerario" class="twitter-follow-button" data-show-count="true" data-lang="pt">Seguir @twitnerario</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </li>
          <li>
            <!-- <iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=morenopc&repo=twitnerario&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
          </li>
          <li>
            <iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=morenopc&repo=twitnerario&type=fork&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe> -->
          </li>
          <li>
            <a class="btn" target="_blank" href="https://github.com/morenopc/twitnerario/issues?state=open" style="padding-top: 1px; padding-bottom: 2px;">Sugestões</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="bs-links">
        <ul class="quick-links-footer">
          <li>
            <a href="http://www.djangoproject.com/"><img src="https://dl.dropbox.com/u/2865713/twitnerario/img/djangosite80x15_grey.gif" border="0" alt="A Django site." title="A Django site." /></a>
          </li>
          <li>
            <a href="http://twitter.com/morenocunha">@morenocunha</a> (Code)
          </li>
          <li>
            <a href="http://twitter.com/blude">@blude</a> (Design)
          </li>
          <li>
            OpenSource Project - November 2011
          </li>
        </ul>
      </div>
    </div>
  </footer>
{% block footer_inc %}{% endblock %}
</body>
</html>
