{% extends "base.html" %}
{% load core_tags %}
{% block title %}Linhas{% endblock %}
{% block menu %}
<!-- <li><a href="/">Home</a></li>
<li><a href="/knowledge-base/">Knowledge Base</a></li>
<li><a href="/articles/">Articles</a></li>
<li class="active"><a href="/faq/">Faq</a></li>
<li><a href="/features/">Features</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
  <ul class="dropdown-menu">
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/full/">Full</a></li>
  </ul>
</li> -->
{% endblock %}
{% block page_header %}
<!-- PAGE HEADER -->
<div id="page-header-container">
  <div class="container">
    <div class="page-header row">
      <div class="span8">
        <h1>Ponto nº {{ ponto }}</h1>
        {% if linhas.data %}<p class="tagline">Lista de linhas</p>{% endif %}
      </div>
      <div class="span4">
        <form role="search" method="get" id="searchform" class="form-search" action="/pesquisar/">
          <label class="hide" for="s" >Pesquisar por:</label>
          <input type="text" value="" name="s" class="searchajax search-query span4" placeholder="Rua, bairro ou ponto de referência.">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<!-- PAGE CONTENT -->
<div id="wrap" class="container" role="document">
  <div id="content" class="row">
    <div class="span12">
      {% if linhas.data %}
      <div class="page-main">
      <!-- resultados-->
      {% for linha in linhas.data %}
        <a href="/ponto/{{ ponto }}/linha/{{ linha.linha|split|first }}/horarios/">
          {{ linha.linha }}
          <hr class="separador">
        </a>
      {% endfor %}
      </div>
      {% else %}
      <article class="type-faq hentry">
        <h3 class="entry-title">Nenhuma linha encontrada.</h3>
        <div class="entry-content" style="height: 240px;"></div>
      </article>
      {% endif %}
    </div>
  </div><!-- /#content -->
</div><!-- /#wrap -->
{% endblock %}
{% block footer_widgets %}{% endblock %}
{% block social_icons %}
<ul>
  <li class="social-icon twitter">
    <a class="fade-img" href="//twitter.com/twitnerario/" target="_blank" rel="tooltip" title="Twitter">
      <img src="{{ MEDIA_URL }}assets/img/social/icons_twitter.png" alt="Twitter" />
    </a>
  </li>
  <li class="social-icon facebook">
    <a class="fade-img" href="//www.facebook.com/twitnerario/" target="_blank" rel="tooltip" title="Facebook">
      <img src="{{ MEDIA_URL }}assets/img/social/icons_facebook.png" alt="Facebook" />
    </a>
  </li>
</ul>
{% endblock %}
{% block powered_by %}OpenSource project Nov 2011. Powered by <a target="_blank" href='//www.djangoproject.com/'>Django</a>{% endblock %}
{% block extra_js %}{% endblock %}