{% extends "base.html" %}
{% block page_title %}Sucesso! - {% endblock %}

{% block content %}
	<div class="row">
		<div class="span8">
			<div class="alert-message block-message success">
				<a href="#" class="close">×</a>
				<p><strong>Sucesso!</strong></p>
				<p>{{ twitter }} às {{ h }}:{% if m == 0 %}00{% else %}{{ m }}{% endif %} horas você será mencionado em um tweet (@twitnerario) com o horário aproximado do seu ônibus.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<a href="/" class="btn">Voltar</a>
		</div>
	</div>
{% endblock %}
